<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springexample.demo.mapper.MyModelMapper">
    <!--构造方法开始-->
    <!--键值映射-->
    <resultMap id="allMap" type="model">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="exclude" column="exclude"/>
    </resultMap>

    <sql id="masterId">
    `id`
    </sql>

    <sql id="tableName">
     `logModel`
    </sql>


    <!--基础sql-->
    <sql id="columnSql">
    `id`,`name`,`exclude`
    </sql>
    <!--构造方法结束-->
    <!--基础接口开始-->

    <!--特殊接口需要重写-->
    <insert id="add" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO
        <include refid="tableName"/>
        (`name`,`exclude`)
        VALUES

        (#{name},#{exclude})
    </insert>

    <insert id="update">
        update
        <include refid="tableName"/>
        set `name`=#{name},
        `exclude`=#{exclude}
        where id=#{id}
    </insert>


    <select id="query4Log" resultMap="allMap">
        select
        <include refid="columnSql"/>
        from
        <include refid="tableName"/>
        where
        id=#{masterId}
    </select>

    <select id="query" resultMap="allMap">
        select <include refid="columnSql"/>
        from <include refid="tableName"/>
        where
        id in
        <foreach item="item" collection="set" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>