<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.github.mybatis.spring.mapper.OperationLogMapper">
    <resultMap id="trunk" type="trunk">
        <id property="id" column="id"/>
        <result property="primaryId" column="primary_id"/>
        <result property="tagId" column="tag_id"/>
        <result property="trunk" column="trunk"/>
        <result property="operationType" column="operation_type"/>
        <result property="operatorId" column="operator_id"/>
        <result property="operatingTime" column="operating_time"/>
    </resultMap>
    <resultMap id="branch" type="branch">
        <id property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="branch" column="branch"/>
        <result property="content" column="content"/>
    </resultMap>
    <sql id="trunkColumn">
         `id`,`primary_id`,`tag_id`,`trunk`,`operation_type`,`operator_id`,`operating_time`
    </sql>
    <sql id="branchColumn">
         `id`,`parent_id`,`branch`,`content`
    </sql>
    <insert id="addTrunk">
        INSERT  INTO `operation_trunk_log`
        (`primary_id`,`tag_id`,`trunk`,`operation_type`,`operator_id`)
        VALUES
        (#{primaryId},#{tagId},#{trunk},#{operationType},#{operatorId})
    </insert>
    <insert id="addBranch" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO `operation_branch_log`
        (`id`,`parent_id`,`branch`,`content`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.parentId},#{item.branch},#{item.content})
        </foreach>
    </insert>
    <select id="getTransactionalId" resultType="Long">
       SELECT TRX_ID FROM INFORMATION_SCHEMA.INNODB_TRX  WHERE TRX_MYSQL_THREAD_ID = CONNECTION_ID();
    </select>
    <select id="getTrunk" resultMap="trunk">
        SELECT <include refid="trunkColumn"/>
        from
        `operation_trunk_log`
        where
        `primary_id`=#{primaryId}
        and
        `trunk`=#{trunk}
        order by operating_time desc;
    </select>
    <select id="getBranch" resultMap="branch">
        SELECT <include refid="branchColumn"/>
        from
        `operation_branch_log`
        where
        `parent_id` in
        <foreach collection="set" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>